body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #eee;
}

header {
    background: #18602e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* закругляем */
    object-fit: cover;  /* чтобы картинка не тянулась */
}

header nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #e63946;
}

section {
    padding: 50px 20px;;
}

h1, h2 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #aaa;
    font-size: 14px;
}

main {
    padding: 20px;
}

/* Новости */
.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.news-card {
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    transition: transform 0.3s;
}

.news-card:hover {
    transform: scale(1.05);
}

.news-image {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.news-title {
    margin: 10px;
    font-size: 18px;
}

.news-date {
    margin: 0 10px;
    font-size: 12px;
    color: #aaa;
}

.news-desc {
    margin: 10px;
    font-size: 14px;
}

.news-link {
    display: block;
    margin: 10px;
    padding: 8px;
    text-align: center;
    background-color: #e63946;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.news-link:hover {
    background-color: #f25c70;
}