body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #eee;
}

header {
    background: #18602e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* закругляем */
    object-fit: cover;  /* чтобы картинка не тянулась */
}

header nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #e63946;
}

section {
    padding: 50px 20px;;
}

h1, h2 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #aaa;
    font-size: 14px;
}